@import "../variables";

video {
  height: 50vh;
}

.video-list {
  height: 100vh;
  overflow-y: scroll;
  color: $white;
  .selected {
    background-color: $green;
  }

  .video {
    transition: 0.3s linear;
    cursor: pointer;
    &:hover {
      background-color: $green;
    }
  }
}
