<div class="row no-gutters">
  <div class="col-9 pl-5 py-5">
    <div *ngIf="videoSrc" class="pb-3 mb-4 border-bottom">
      <h1>{{ videoSrc.name }}</h1>
    </div>
    <div class="d-flex justify-content-center">
      <video id="video" controls></video>
    </div>
  </div>

  <div class="col-3 video-list border-left">
    <div class="row no-gutters">
      <div class="col-12 py-3 px-4" *ngIf="folder != '/'">
        <button (click)="updatePath()" class="btn">Back</button>
      </div>
      <div
        class="video col-12 py-3 px-4"
        *ngFor="let file of files"
        [ngClass]="{
          folder: file.isFolder === 'true',
          selected: file == videoSrc
        }"
        (click)="selectFile(file)"
      >
        <fa-icon
          class="mr-2"
          *ngIf="file.isFolder === 'true'"
          [icon]="faFolder"
          size="lg"
        ></fa-icon>
        <fa-icon
          class="mr-2"
          *ngIf="file.isFolder === 'false'"
          [icon]="faVideo"
          size="lg"
        ></fa-icon>
        {{ file.name }}
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
