<div class="row no-gutters">
  <div class="col-2 p-3" *ngIf="folder != '/'">
    <button (click)="updatePath()" class="btn">Back</button>
  </div>
  <div
    class="col-2 p-3"
    *ngFor="let file of files"
    [ngClass]="{ folder: file.isFolder === 'true' }"
  >
    <button class="btn" (click)="selectFile(file)">
      <fa-icon *ngIf="file.isFolder === 'true'" [icon]="faFolder"></fa-icon>
      <fa-icon *ngIf="file.isFolder === 'false'" [icon]="faVideo"></fa-icon>
      {{ file.name }}
    </button>
  </div>
</div>

<div class="container text-center">
  <video id="video" controls></video>
</div>

<router-outlet></router-outlet>
